body {
    background-color: #ffffff;
  }
  
#container {
    padding: 10px;
    margin-left: 20%;
    width: 40%;
}

.cluecontainer {
  background-color: lightgray;
  width: fit-content;
}

.clue {
  opacity: 0;
}

.clue:hover {
  opacity: 100;
}


#secret, #answer {
  border: 1px solid black;
  padding: 15px;
}

button  {
  font-size: 100%;
  padding: 10px;
}

#result {
  font-size:150px;

}